@tailwind components;

@layer components {
    

    .vesselsFormContainer{
        @apply font-manrope flex gap-5 p-5 text-[#404958]
    }

    .vesselsFormWrapper{
        @apply lg:w-[50%] flex flex-col gap-5
    }

    .vesselsFormWrapper2{
        @apply lg:w-[50%]
    }

    .vesselsFormDetail{
        box-shadow: 0 0 10px #00000036;
        @apply flex  gap-4  bg-white p-5 rounded-lg
        flex-col
    }

    .vesselsFormImgBox{
       box-shadow: 0 0 10px #00000036;
       @apply flex  gap-4  bg-white p-5 rounded-lg
       flex-col
    }

    .vesselsFormImgBox h2{
        @apply font-bold text-base
    }

    .vesselsFormHeader{
        @apply flex justify-between text-lg font-bold p-5 border-b
    }

    .vesselsFormHeader svg{
        @apply text-[25px] text-[#404958]
    }

    .vesselsFormBoxDetail{
        @apply pb-10 
    }   
    
    .vesselsFormBoxDetail p{
        @apply font-bold 
    }    
    
    
    
    .vesselsFormImageBox{
        @apply flex items-center gap-5 border-b pb-5
    }

    .vesselsFormBoxDetail{
        @apply p-10 flex flex-col gap-5
    }
    .vesselsFormBoxDetail h2{
        @apply font-bold text-base
    }

    .vesselsFormImageBox img{
        @apply w-[200px] h-[200px] rounded-full object-cover border-2 border-[#404958] p-2
    }


    
    .vesselsFormFooter{
        @apply flex  gap-5 p-5
    }


    .vesselsBtn{
        @apply mt-5 w-full bg-[#0DB0E6] text-white p-3 rounded-lg
        hover:bg-[#404958] hover:text-white duration-150
    }

    .vesselsImageContainer{
        box-shadow: 0 0 10px #00000036;
        @apply  flex  gap-4  bg-white p-5 rounded-lg
        flex-col
    }

    .vesselsImageWrapper{
        @apply flex gap-4 
    }

    .vesselsImageCardBox{
        @apply border  text-center rounded-xl  w-[50%] h-[300px]
        items-center flex flex-col p-3
    }

    .vesselsImageCardBox h3{
        @apply text-sm border-b  w-full text-center p-3 font-medium  
    }

    .vesselsImageCard{
        border: 2px dashed #8E8E8E;
        @apply flex flex-col w-full h-[220px] rounded-lg 
        items-center justify-center overflow-hidden relative mt-3 
    }

    .vesselsImageCard svg{
        @apply text-[2rem] text-[#DCDCDC]
    }

    .vesselsImageCard p{
        @apply font-manrope font-normal text-[#8E8E8E] text-sm

    }

    .vesselsImageCard p span{
        @apply text-[#0DB0E6]
    }

    .vesselsImageCard img{
        @apply absolute 
    }

    .vesselsImagesCardBox{
        @apply flex gap-4
    }

}