@tailwind components;


@layer components{

    .vesselsContainer{
        @apply font-manrope pr-10 pl-3 pb-10
    }

    .vesselsContainer button{
        @apply hover:bg-[#404958] hover:text-white duration-150
    }

    .vesselsTableTopBox{
        @apply flex items-center justify-center gap-6 
        h-[50px] mb-3
    }

    .vesselsTableContainer{
        box-shadow:0 0 10px #00000035;
        @apply rounded-[15px] overflow-hidden 
    }


    .btnProfile{
        @apply border border-black rounded-md font-bold px-3 bg-white
    }
  

    .btnAdd{
        @apply bg-[#86705E] text-white flex items-center w-[200px]
        justify-center h-full rounded-md gap-2 text-base
         hover:bg-[#404958] duration-150
    }  
    
    .btnUpdate{
        @apply bg-[#0DB0E6] w-[30px] h-[30px] rounded-full text-white flex
        flex-col items-center justify-center text-[18px]
     }

     .btnDelete{
        @apply bg-[#EB5454] w-[30px] h-[30px] rounded-full text-white flex
        flex-col items-center justify-center text-[15px]
     }

    .searchBox{
        @apply flex w-full h-full items-center relative rounded-[10px]
        overflow-hidden border-[1px] border-gray-300
    }

    .searchBox input{
        @apply w-full h-full bg-transparent px-5 outline-none
    }

    .searchBox svg{ 
        @apply absolute right-3 text-[25px] text-gray-500
    }


    /*====== USER PROFILE STYLE =============*/
    .vesselsProfileContainer{
        @apply flex flex-col pr-10 font-manrope
    }

    .vesselsProfileBox1{
        box-shadow: 0 0 10px #00000012;
        @apply bg-[#F9F9F9]  rounded-[15px]  p-3 flex flex-col justify-between
    }

    .vesselsProfileTitle{
        @apply text-lg font-bold p-2
    }

    .vesselsProfilePhoto{
        @apply w-[230px] h-[230px] rounded-full object-cover
        border-2 border-[#404958] p-2
    }

    .vesselsProfileInitial{
        @apply flex items-center gap-16 pb-10 px-3 mt-5
    }

   
    .textBoxWrapper{
        @apply flex flex-wrap gap-10
    }

    .textBox{
        @apply  flex flex-col gap-5   w-[300px]
    }

    .textBox span{
        @apply flex flex-col 
    }

    .textBox span p{
        @apply text-[#8E8E8E] text-base
    }

    .textBox span h3{
        @apply text-[#404958] font-bold text-lg
    }

    .vesselsProfileBox2{
        @apply flex mt-5 gap-10 
    }
    .profileCardBox1{
        box-shadow: 0 0 10px #00000012;
        @apply bg-[#F9F9F9]  rounded-[15px]  p-3 w-[50%]   flex flex-col
        gap-4
    }

    .profileCardBox2{
        box-shadow: 0 0 10px #00000012;
        @apply bg-[#F9F9F9]  rounded-[15px]  p-3 w-[50%]  
    }

    .profileBoxImg{
        @apply flex gap-5
    }

    .profileCardImg{
        @apply relative w-[360px] h-[170px]
        flex items-end justify-center 
    }

    .profileCardImg p{
        @apply absolute text-sm bg-[#6666663a] w-[90%] text-center p-2 mb-2
        text-white font-bold tracking-wide rounded-[10px] border border-gray-50
        
    }

    .profileCardImg img{
        @apply w-full h-full border rounded-[10px]
    }

    .profileMapBox{
        @apply w-full h-full rounded-[10px] overflow-hidden 
    }
}


@keyframes pulseTraksat{
    0%{
      box-shadow:#00FF00;
    }
    50%{
      box-shadow: 0 0 0 16px rgb(38, 214, 70);
    }
  
    50%{
     box-shadow: 0 0 0 20px rgba(38, 214, 50, 0.581);
  
    }
  }

  .selected-traksat{
    border:2px solid #00FF00;
    background: #000;
    animation:pulseTraksat 1500ms infinite;
}


.bgdark-marker{
    background-color: #313030;
    width:25px;
    height:25px;
    border-radius:50%;
    display:flex;
    justify-content: center;
}
