@tailwind components;

@layer components{
    .traksatCardContainer{
        @apply z-[2000]  font-manrope absolute top-10 left-16 
        overflow-hidden rounded-[15px]  shadow-xl bg-white cursor-move
    }

    .traksatCardHeader{
        @apply flex relative gap-3  text-black bg-white items-center
         p-2 border-b-2
    }

      
    .traksatDistance{
        top: 12%;
        left: 50%;
        transform: translate(-50%, -50%);
        @apply flex gap-5 bg-[#000000ad] absolute z-[1000] font-manrope
        p-3 rounded-xl m-2 text-sm font-bold border-[#00FF00] border-2 text-[#00FF00]
    }


    .traksatCardHeader img{
        @apply w-[20px]
    }


    .traksatCardHeader h3{
        @apply font-bold text-base
    }
  
    .traksatTitle{
        @apply text-base 
    }

    .traksatCardDetail{
        @apply  flex  
    }

    .traksatCardDetail span p{
        @apply text-start p-3 px-5 text-black text-sm
    }

    .traksatCardDetail .span1 p{
        @apply font-bold
    }

    .traksatCardDetail span p:nth-of-type(1),
    .traksatCardDetail span p:nth-of-type(3),
    .traksatCardDetail span p:nth-of-type(5),
    .traksatCardDetail span p:nth-of-type(7), 
    .traksatCardDetail span p:nth-of-type(9) { 

        background-color:#F9F9F9;
    }
    .traksatCardDetail span p:nth-of-type(2),
    .traksatCardDetail span p:nth-of-type(4),
    .traksatCardDetail span p:nth-of-type(6),
    .traksatCardDetail span p:nth-of-type(8) {
        background-color: white;
    }
    


    .traksatCardFooter{
        @apply p-5 w-full flex justify-center flex-col bg-white 
    }

    .traksatCardFooter button{
        @apply text-sm p-2 rounded-[5px] text-white w-full
    }

    .traksatClose{
        @apply bg-white cursor-pointer absolute right-2 text-[1.5rem] rounded-full text-black hover:bg-black hover:text-white duration-200
    }

    .mtCardContainer{
        cursor: move;
        @apply  absolute z-[2000] top-10  w-[350px]
        left-16  rounded-[15px] overflow-hidden bg-white font-manrope cursor-move
    }
    
    .mtDistance{
        top: 12%;
        left: 50%;
        transform: translate(-50%, -50%);
        @apply flex gap-5 bg-[#000000ad] absolute z-[1000] font-manrope
        p-3 rounded-xl m-2 text-sm font-bold border-[#fd9b09]
         text-[#fd9b09] border-2
    }

    .mtDistance p h3{
        @apply text-gray-100
    }
   
    .mtCardHeader{
        @apply  flex flex-col 
    }

    .mtCardHeader img{
        @apply w-[20px]
    }

    .mtCardTop{
        @apply flex items-center gap-3 p-3 border-b-2
    }

    .mtCardTop h3{
        @apply text-sm font-bold
    }

    .mtClose{
        @apply bg-white cursor-pointer text-[20px] rounded-full text-black hover:bg-black
         hover:text-white duration-200  absolute right-2
    }
    
    .mtBoxFlag{
        @apply flex gap-2  px-2
    }
    
    .mtBoxFlag img{
    @apply w-[35px]
    }

    .mtBoxFlag span{
    @apply flex flex-col
    }

    .mtBoxFlag span h4{
        @apply font-bold text-sm
    }

    .mtBoxFlag span p{
        @apply text-xs font-medium
    }


    .mt_ship_img img{
    @apply h-[200px] w-full 
    }

    .mtCardHeader h2 img{
    @apply w-[40px]
    }

    .mtCardTime{
        @apply flex justify-between p-2 bg-white py-2
    }

    .mtCardTime h4{
        @apply text-xs
    }
    
    .mtCardDetails{
        @apply flex  h-[200px] overflow-y-scroll bg-stone-100
    }

    .mtCardDetails::-webkit-scrollbar {
        width:10px; /* Width of the scrollbar */
    }
    .mtCardDetails::-webkit-scrollbar-track {
        background: #f1f1f1; /* Color of the scrollbar track */
    }
    .mtCardDetails::-webkit-scrollbar-thumb {
        background: rgb(70, 70, 70); /* Color of the scrollbar handle */
    }
    .mtCardDetails::-webkit-scrollbar-thumb:hover {
        background: #555; /* Color of the scrollbar handle on hover */
    }
    
    .mtCardDetails  span{
    @apply flex flex-col  w-full
    }

    .mtCardDetails  .span1 p{
        @apply font-bold
    }

    
    .mtCardDetails  span p{
        @apply p-2 px-3  text-xs font-medium
    }

    .mtCardDetails span p:nth-child(1),
    .mtCardDetails span p:nth-child(3),
    .mtCardDetails span p:nth-child(5),
    .mtCardDetails span p:nth-child(7),
    .mtCardDetails span p:nth-child(9),
    .mtCardDetails span p:nth-child(11) {
        @apply bg-[#F9F9F9] 
    }

    .mtCardDetails span p:nth-child(2),
    .mtCardDetails span p:nth-child(4),
    .mtCardDetails span p:nth-child(6),
    .mtCardDetails span p:nth-child(8),
    .mtCardDetails span p:nth-child(10) {
        @apply bg-[#ffffff] 
    }
    

    .mtBtnBox{
        @apply flex flex-col p-3 mt-2 bg-white
    }

    .mtBtnBox button{
        @apply text-sm p-2 rounded-[5px] text-white 
    }

    .stCardContainer{
    @apply z-[2000] w-[400px]  absolute top-10 left-16 
     overflow-hidden rounded-[15px] font-manrope shadow-xl bg-white cursor-move
        
    }

    .stCardHeader{
    @apply flex   text-black bg-white 
    items-center p-2 border-b-2

    }

    .stCardHeader img{
        @apply w-[30px] mx-1
    }
    
    .stCardHeader h3{
        @apply text-base font-bold
    }


    .stClose{
    @apply bg-white text-[1.5rem] rounded-full
     text-black hover:bg-black hover:text-white duration-200
     absolute right-3 cursor-pointer
    }

    .stCardDetail{
        @apply flex  
    }

    .stCardDetail span{
        @apply flex flex-col w-full
    }

    .stCardDetail .span1 p{
        @apply font-bold
    }


    .stCardDetail span p{
        @apply text-sm w-full p-3 px-5 font-medium
    }


    .stCardDetail span p:nth-child(1),
    .stCardDetail span p:nth-child(3),
    .stCardDetail span p:nth-child(5),
    .stCardDetail span p:nth-child(7),
    .stCardDetail span p:nth-child(9),
    .stCardDetail span p:nth-child(11) {
        @apply bg-[#F9F9F9] 
    }



    .stCardDetail span p:nth-child(2),
    .stCardDetail span p:nth-child(4),
    .stCardDetail span p:nth-child(6),
    .stCardDetail span p:nth-child(8),
    .stCardDetail span p:nth-child(10) {
        @apply bg-[#ffffff] 
    }

    .spidertracks_name{
        @apply text-[9px] top-1 w-[60px] p-1 flex items-center justify-center  text-center left-8 text-black font-bold rounded-[10px] bg-blue-200   absolute
    }

    .incidentCardContainer{
        @apply z-[2000]  font-manrope  absolute top-10 left-16 
        overflow-hidden rounded-[15px]   bg-white w-[500px] cursor-move
    }

    .incidentCardHeader{
        @apply flex gap-3 items-center p-3 border-b-2
    }

    .incidentCardHeader img{
        @apply w-[30px]
    }
    

    .incidentCardHeader h3{
        @apply text-base font-bold
    }
   
    .incidentClose{
        @apply bg-white text-[25px] rounded-full text-black hover:bg-black
         hover:text-white duration-200  absolute right-2 cursor-pointer
    }

    .incidentCardDetail{
        @apply flex text-sm 
    }

    .incidentCardDetail span{
        @apply w-full flex flex-col 
    }

    .incidentCardDetail .span1 p{
        @apply font-bold 
    }
    
    .incidentCardDetail span p{
        @apply p-3
    }

    .incidentCardDetail span p:nth-child(1),
    .incidentCardDetail span p:nth-child(3),
    .incidentCardDetail span p:nth-child(5),
    .incidentCardDetail span p:nth-child(7),
    .incidentCardDetail span p:nth-child(9),
    .incidentCardDetail span p:nth-child(11) {
        @apply bg-[#F9F9F9] 
    }

    .incidentCardDetail span p:nth-child(2),
    .incidentCardDetail span p:nth-child(4),
    .incidentCardDetail span p:nth-child(6),
    .incidentCardDetail span p:nth-child(8),
    .incidentCardDetail span p:nth-child(10) {
        @apply bg-[#ffffff] 
    }

    .incidentLocation{
        @apply flex flex-col  gap-2 p-2 text-sm
    }

    .incidentLocation h3{
        @apply font-bold leading-4
    }

    .incidentLocation p{
        @apply bg-slate-50 p-2 rounded-md border
    }

    .personnelCardContainer{
        @apply z-[2000]  font-manrope  absolute top-10 left-16 
        overflow-hidden rounded-[15px]   bg-white w-[350px] cursor-move
    }

    .personnelCardHeader{
        @apply flex gap-3 items-center p-3 border-b-2
    }

    .personnelCardHeader img{
        @apply w-[30px]
    }

    .personnelCardHeader h3{
        @apply text-base font-bold
    }
   
    .personnelClose{
        @apply bg-white text-[25px] rounded-full text-black hover:bg-black
         hover:text-white duration-200  absolute right-2 cursor-pointer
    }

    

    .personnelImgBox{
        @apply flex items-center justify-center p-5 bg-[#EAEAEC]
    }

    .personnelImgBox img{
        @apply w-[150px] h-[150px] rounded-full object-cover
        border-2 border-[#404958] p-1
    }

    .personnelCardDetailWrapper{
        @apply flex flex-col h-[300px] overflow-y-auto cursor-pointer
    }

    .personnelCardDetailWrapper::-webkit-scrollbar {
        width:10px; /* Width of the scrollbar */
    }
    .personnelCardDetailWrapper::-webkit-scrollbar-track {
        background: #f1f1f1; /* Color of the scrollbar track */
    }
    .personnelCardDetailWrapper::-webkit-scrollbar-thumb {
        background: rgb(70, 70, 70); /* Color of the scrollbar handle */
    }
    .personnelCardDetailWrapper::-webkit-scrollbar-thumb:hover {
        background: #555; /* Color of the scrollbar handle on hover */
    }
    .personnelCardDetail{
        @apply flex 
    }
    .personnelCardDetail span{
        @apply w-full
    }

    .personnelCardDetail .span1 p{
        @apply font-bold
    }

    .personnelCardDetail span p{
        @apply text-sm p-3
    }

    .personnelCard2{
        @apply text-sm p-3
     
    }
   
    .personnelCardDetail span p:nth-child(1),
    .personnelCardDetail span p:nth-child(3),
    .personnelCardDetail span p:nth-child(5),
    .personnelCardDetail span p:nth-child(7),
    .personnelCardDetail span p:nth-child(9),
    .personnelCardDetail span p:nth-child(11) {
        @apply bg-[#F9F9F9] 
    }

    .personnelCardDetail span p:nth-child(2),
    .personnelCardDetail span p:nth-child(4),
    .personnelCardDetail span p:nth-child(6),
    .personnelCardDetail span p:nth-child(8),
    .personnelCardDetail span p:nth-child(10) {
        @apply bg-[#ffffff] 
    }

    .showPersonnelUsername{
        @apply bg-[#EAEAEC] absolute ml-24 px-3 rounded-full
        text-xs font-bold font-manrope p-1
    }

    .officeCardContainer{
        @apply z-[2000]  font-manrope  absolute top-10 left-16 
        overflow-hidden rounded-[15px]   bg-white w-[350px] cursor-move
    }

    .officeCardHeader{
        @apply flex gap-3 items-center p-3 border-b-2
    }

    .officeCardHeader img{
        @apply w-[30px]
    }

    .officeCardHeader h3{
        @apply text-base font-bold
    }
   
    .officeClose{
        @apply bg-white text-[25px] rounded-full text-black hover:bg-black
         hover:text-white duration-200  absolute right-2 cursor-pointer
    }

    .officeCardDetail{
        @apply flex 
    }
 

    .officeCardDetail .span1 p{
        @apply font-bold 
    }

    .officeCardDetail span p{
        @apply text-sm p-3
    }
   
    .officeCardDetail span p:nth-child(1) {
        @apply bg-[#F9F9F9] 
    }

    .officeCardDetail span p:nth-child(2){
       @apply bg-[#ffffff] 
    }

    .vehicleCardContainer{
        @apply z-[2000]  font-manrope cursor-move absolute top-10 left-16 
        overflow-hidden rounded-[15px]   bg-white 
    }

    .vehicleCardHeader{
        @apply flex gap-3 items-center p-3 border-b-2
    }

    .vehicleCardHeader img{
        @apply w-[30px]
    }

    .vehicleCardHeader h3{
        @apply text-base font-bold
    }

    .vehicleClose{
        @apply bg-white text-[25px] rounded-full text-black hover:bg-black
         hover:text-white duration-200  absolute right-2 cursor-pointer
    }

    .vehicleCardDetail{
        @apply flex pt-4
    }
 
    .vehicleCardDetail span{
        @apply w-full
    }
    .vehicleCardDetail .span1 p{
        @apply font-bold  px-5
    }

    .vehicleCardDetail span p{
        @apply text-sm  h-[50px] flex items-center
    }

    .vehicleCardDetail span p:nth-child(1),
    .vehicleCardDetail span p:nth-child(3),
    .vehicleCardDetail span p:nth-child(5),
    .vehicleCardDetail span p:nth-child(7),
    .vehicleCardDetail span p:nth-child(9),
    .vehicleCardDetail span p:nth-child(11) {
        @apply bg-[#F9F9F9] 
    }

    .vehicleCardDetail span p:nth-child(2),
    .vehicleCardDetail span p:nth-child(4),
    .vehicleCardDetail span p:nth-child(6),
    .vehicleCardDetail span p:nth-child(8),
    .vehicleCardDetail span p:nth-child(10) {
        @apply bg-[#ffffff] 
    }

    .carCardContainer{
        @apply z-[2000]  font-manrope  cursor-move absolute top-10 left-16 
        overflow-hidden rounded-[15px]   bg-white 
    }

    .carCardHeader{
        @apply flex gap-3 items-center p-3 border-b-2
    }

    .carCardHeader img{
        @apply w-[30px]
    }

    .carCardHeader h3{
        @apply text-base font-bold
    }

    .carClose{
        @apply bg-white text-[25px] rounded-full text-black hover:bg-black
         hover:text-white duration-200  absolute right-2 cursor-pointer
    }

    .carCardDetail{
        @apply flex pt-4
    }

    .carCardDetail span{
        @apply w-full
    }
    .carCardDetail .span1 p{
        @apply font-bold  px-5
    }

    .carCardDetail span p{
        @apply text-sm  h-[50px] flex items-center
    }

    .carCardDetail span p:nth-child(1),
    .carCardDetail span p:nth-child(3),
    .carCardDetail span p:nth-child(5),
    .carCardDetail span p:nth-child(7),
    .carCardDetail span p:nth-child(9),
    .carCardDetail span p:nth-child(11) {
        @apply bg-[#F9F9F9] 
    }

    .carCardDetail span p:nth-child(2),
    .carCardDetail span p:nth-child(4),
    .carCardDetail span p:nth-child(6),
    .carCardDetail span p:nth-child(8),
    .carCardDetail span p:nth-child(10) {
        @apply bg-[#ffffff] 
    }



    .videoCardContainer{
        @apply z-[2000]  font-manrope cursor-move absolute top-10 left-16 
        overflow-hidden rounded-[15px]   bg-white 
    }

    .videoCardHeader{
        @apply flex gap-3 items-center p-3 border-b-2  justify-between
    }

    .videoCardHeader img{
        @apply w-[30px]
    }

    .videoCardHeader h3{
        @apply text-base font-bold
    }

    .videoClose{
        @apply bg-white text-[25px] rounded-full text-black hover:bg-black
         hover:text-white duration-200 right-2 cursor-pointer 
    }

    .videoCardBtn{
        @apply  flex w-full items-center justify-center text-white p-2 rounded-md mb-2
    }

    .videoCardDetail{
        @apply flex flex-col p-2 
    }

    .videoCardDetail span{
        @apply p-2 flex gap-3
    }

    .videoCardDetail span p{
        @apply text-sm
    }

    .videoCardDetail span h3{
        @apply text-sm font-bold
    }



  
 
    
}







       


      
      
       /*=========== PULSE ==============*/
      @keyframes pulseSpider{
        0%{
          box-shadow:#006eff 0 0 0 0;
        }
        50%{
          box-shadow: 0 0 0 16px rgba(2, 145, 255, 0.504);
        }
      
        50%{
         box-shadow: 0 0 0 20px rgba(6, 164, 255, 0.38);
      
        }
      }


      @keyframes pulsePersonnel{
        0%{
          box-shadow:#B6D4DF;
        }
        50%{
          box-shadow: 0 0 0 16px #b6d4dfbc;
        }
      
        50%{
         box-shadow: 0 0 0 20px #b6d4df90;
      
        }
      }


      @keyframes pulseIncident{
        0%{
          box-shadow:#EE404C;
        }
        50%{
          box-shadow: 0 0 0 16px #ee404cd7;
        }
      
        50%{
         box-shadow: 0 0 0 20px #ee404cac;
      
        }
      }


      @keyframes pulseOffice{
        0%{
          box-shadow:#34D1C6;
        }
        50%{
          box-shadow: 0 0 0 16px #34d1c792;
        }
      
        50%{
         box-shadow: 0 0 0 20px #34d1c767;
      
        }
      }

      @keyframes pulseVehicles{
        0%{
          box-shadow:#F8AE78;
        }
        50%{
          box-shadow: 0 0 0 16px #f8ad78be;
        }
      
        50%{
         box-shadow: 0 0 0 20px #f8ad7878;
      
        }
      }

      @keyframes pulseCar{
        0%{
          box-shadow:#7E84FA;
        }
        50%{
          box-shadow: 0 0 0 16px #7e84faac;
        }
      
        50%{
         box-shadow: 0 0 0 20px #7e84fa9c;
      
        }
      }

      @keyframes pulseVideo{
        0%{
          box-shadow:#F28482;
        }
        50%{
          box-shadow: 0 0 0 16px #f28482b7;
        }
      
        50%{
         box-shadow: 0 0 0 20px #f2848296;
      
        }
      }

      @keyframes pulseMarinetraffic{
        0%{
          box-shadow: #fd9b09;
        }
        50%{
          box-shadow: 0 0 0 16px #fd9b0999;
        }
      
        50%{
         box-shadow: 0 0 0 20px  #fd9b0986;
      
        }
      }


      @keyframes pulseTraksat{
        0%{
          box-shadow:#00FF00;
        }
        50%{
          box-shadow: 0 0 0 16px rgb(38, 214, 70);
        }
      
        50%{
         box-shadow: 0 0 0 20px rgba(38, 214, 50, 0.581);
      
        }
      }
        
   /*========= SELECTED ==========*/
    .selected-spidertrak{
        border:2px solid rgb(20, 184, 255);
        background: #000000;
        animation:pulseSpider 1500ms infinite;
    }


    .selected-personnel{
        border:2px solid #B6D4DF;
        background: #000;
        animation:pulsePersonnel 1500ms infinite;
      
      }

    .selected-incident{
        border:2px solid #EE404C;
        background: #000;
        animation:pulseIncident 1500ms infinite;
    }

    .selected-office{
        border:2px solid #34D1C6;
        background: #000;
        animation:pulseOffice 1500ms infinite;
    }


    .selected-vehicles{
        border:2px solid #F8AE78;
        background: #000;
        animation:pulseVehicles 1500ms infinite;
    }

    .selected-car{
        border:2px solid #7E84FA;
        background: #000;
        animation:pulseCar 1500ms infinite;
    }

    .selected-video{
        border:2px solid #F28482;
        background: #000;
        animation:pulseVideo 1500ms infinite;
    }

    .selected-traksat{
        border:2px solid #00FF00;
        background: #000;
        animation:pulseTraksat 1500ms infinite;
    }


    .selected-marinetraffic{
        border:2px solid #fd9b09;
        background: #000;
        animation:pulseMarinetraffic 1500ms infinite;
      
      }
    
   /*========= MARKERS ==========*/
   .bgwhite-marker{
        background-color: #fff;
        width:25px;
        height:25px;
        border-radius:50%;
        display:flex;
        justify-content: center;
    }

    .bgdark-marker{
        background-color: #313030;
        width:25px;
        height:25px;
        border-radius:50%;
        display:flex;
        justify-content: center;
    }


    .personnel-marker {
        width:35px !important;
        border-radius:50%;
        height:35px !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .spidertrak-marker{
        width:35px !important;
        border-radius:50%;
        height:35px !important;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }


    

    .incident-marker {
        width:35px !important;
        border-radius:50%;
        height:35px !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }
  

   

    .office-marker {
        width:35px !important;
        border-radius:50%;
        height:35px !important;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .vehicles-marker {
        width:35px !important;
        border-radius:50%;
        height:35px !important;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .car-marker {
        width:35px !important;
        border-radius:50%;
        height:35px !important;
        display: flex;
        align-items: center;
        justify-content: center;
      } 

      .video-marker {
        width:35px !important;
        border-radius:50%;
        height:35px !important;
        display: flex;
        align-items: center;
        justify-content: center;
      } 

      .marinetraffic-marker {
        width:35px !important;
        border-radius:50%;
        height:35px !important;
        display: flex;
        align-items: center;
        justify-content: center;
      }


      .traksat-marker {
        width:35px !important;
        border-radius:50%;
        height:35px !important;
        display: flex;
        align-items: center;
        justify-content: center;
      }