@tailwind components;

@layer components {
    

    .aircraftFormContainer{
        @apply font-manrope flex gap-5 p-5 text-[#404958]
        flex-col lg:flex-row
    }

    .aircraftFormWrapper{
        @apply w-full lg:w-[50%] flex flex-col gap-5
    }

    .aircraftFormWrapper2{
        @apply w-full lg:w-[50%]
    }

    .aircraftFormDetail{
        box-shadow: 0 0 10px #00000036;
        @apply flex  gap-4  bg-white p-5 rounded-lg
        flex-col
    }
    .aircraftFormDetail h2{
        @apply font-bold text-base
    }

    .aircraftFormImgBox{
       box-shadow: 0 0 10px #00000036;
       @apply flex  gap-4  bg-white p-5 rounded-lg
       flex-col
    }

    .aircraftFormImgBox h2{
        @apply font-bold text-base
    }

    .aircraftFormHeader{
        @apply flex justify-between text-lg font-bold p-5 border-b
    }

    .aircraftFormHeader svg{
        @apply text-[25px] text-[#404958]
    }

    .aircraftFormBoxDetail{
        @apply pb-10 
    }   
    
    .aircraftFormBoxDetail p{
        @apply font-bold 
    }    
    
    
    
    .aircraftFormImageBox{
        @apply flex items-center gap-5 border-b pb-5
    }

    .aircraftFormBoxDetail{
        @apply p-10 flex flex-col gap-5
    }
    .aircraftFormBoxDetail h2{
        @apply font-bold text-base
    }

    .aircraftFormImageBox img{
        @apply w-[200px] h-[200px] rounded-full object-cover border-2 border-[#404958] p-2
    }


    
    .aircraftFormFooter{
        @apply flex  gap-5 p-5
    }


    .aircraftBtn{
        @apply mt-5 w-full bg-[#0DB0E6] text-white p-3 rounded-lg
        hover:bg-[#404958] hover:text-white duration-150
    }

    .aircraftImageContainer{
        box-shadow: 0 0 10px #00000036;
        @apply  flex  gap-4  bg-white p-5 rounded-lg
        flex-col
    }

    .aircraftImageContainer h2{
        @apply  font-bold text-base
    }

    .aircraftImageWrapper{
        @apply flex gap-4 
    }

    .aircraftImageCardBox{
        @apply border  text-center rounded-xl  w-[50%] h-[300px]
        items-center flex flex-col p-3
    }

    .aircraftImageCardBox h3{
        @apply text-sm border-b  w-full text-center p-3 font-medium  
    }

    .aircraftImageMainCard{
        border: 2px dashed #8E8E8E;
        @apply flex flex-col w-full h-[400px] rounded-lg 
        items-center justify-center overflow-hidden relative mt-3 
    }


    .aircraftImageMainCard svg{
        @apply text-[2rem] text-[#DCDCDC]
    }

    .aircraftImageMainCard p{
        @apply font-manrope font-normal text-[#8E8E8E] text-sm

    }

    .aircraftImageMainCard p span{
        @apply text-[#0DB0E6]
    }

    .aircraftImageMainCard img{
        @apply absolute 
    }


    .aircraftImageCard{
        border: 2px dashed #8E8E8E;
        @apply flex flex-col w-full h-[220px] rounded-lg 
        items-center justify-center overflow-hidden relative mt-3 
        object-cover 
    }
    .aircraftImageCard img{
        @apply object-contain
    }

    .aircraftImageCard svg{
        @apply text-[2rem] text-[#DCDCDC]
    }

    .aircraftImageCard p{
        @apply font-manrope font-normal text-[#8E8E8E] text-sm

    }

    .aircraftImageCard p span{
        @apply text-[#0DB0E6]
    }

    .aircraftImageCard img{
        @apply absolute 
    }

    .aircraftImagesCardBox{
        @apply flex gap-4
    }

}