@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}






@layer components {

  

  .main_container{
    @apply flex  md:flex-row bg-[#FFFFFF] h-[100vh] overflow-auto 
  }

  .content_container{
    @apply flex flex-col gap-5  h-[100vh] w-[100%] overflow-y-auto 
    }

  /* Track */
  .content_container::-webkit-scrollbar {
    width:10px;
  }
  
  /* Handle */
  .content_container::-webkit-scrollbar-thumb {
    background-color: rgb(117, 144, 189) ;
  }
  
  /* Handle on hover */
  .content_container::-webkit-scrollbar-thumb:hover {
    background-color:rgb(45, 97, 187);
  }
  



  .navbar_container{
    @apply flex items-center bg-white py-3 h-[6vh]
    justify-between px-5  sticky top-0 z-[1000]
  }

  .navbar_menu_wrapper{
    @apply flex gap-3
  }

  .breadcrumbs{
    @apply uppercase text-sm font-bold text-gray-800
  }

  .sidebar_container{
    @apply flex font-manrope
  }

  .sidebar{
    @apply bg-[#404958] transition-all duration-500 text-white w-[200px] flex flex-col items-center z-[1000]  overflow-y-auto pb-20
  }


  
  /* Track */
  .sidebar::-webkit-scrollbar {
    width:7px;
  }
  
  /* Handle */
  .sidebar::-webkit-scrollbar-thumb {
    background-color: rgb(117, 144, 189) ;
  }
  
  /* Handle on hover */
  .sidebar::-webkit-scrollbar-thumb:hover {
    background-color:rgb(45, 97, 187);
  }
  

  .link_wrapper{
    @apply w-[80%] flex flex-col gap-[5px] 
  }

  .link_wrapper p{
    @apply uppercase text-xs tracking-wider font-normal   pt-6
  }

  .link_wrapper2{
    @apply w-[80%] flex flex-col gap-[5px] border-t mt-3 pt-3
  }

  .link_wrapper3{
    @apply w-[80%] flex flex-col gap-[5px] border-t mt-3 pt-3
  }

  .icon{
    @apply text-lg
  }

  .logo_wrapper{
    @apply p-3  mt-5
  }

  .sidebar .logo{
    @apply flex items-center 
  }

  .bars{
    @apply  text-[25px]  mt-[10px] text-gray-800 hover:bg-gray-300 duration-300 rounded-md h-[40px] w-[40px] flex items-center justify-center
  }
  .sidebar .link{
    @apply flex items-center pl-4 text-white w-[100%] p-[10px] rounded-[10px] gap-[10px] transition-all duration-500
  }


  .active{
    background: #FFFFFF4D;
  }

  .map_container{
    @apply border h-[87vh] w-[95%] rounded-md overflow-hidden relative cursor-pointer
  }

  .button_map_wrapper{
    @apply  absolute z-[2000] right-5 top-40 flex flex-col gap-2
  }

  .button_toggle_drawer{
    @apply rounded   border shadow  bg-[#ffffffdb] text-black  text-[20px] p-2  hover:text-[#29ADB2] duration-300
  }

  .btn_filter{
    @apply rounded  border shadow  bg-[#ffffffdb] text-black  text-[20px] p-2  hover:text-[#29ADB2] duration-300
  }


  
  .select_wrapper{
    @apply absolute right-10
  }

  .select_wrapper select{
    @apply p-2 rounded-[5px] text-lg
  }
 
  
  .btnBottomSide{
    @apply absolute z-[2000] bottom-16 left-2 flex flex-col items-center gap-3
  }


  /* Track */
  ::-webkit-scrollbar {
    width:7px;
  }
  

  



  .dashboard_container{
    @apply flex flex-col  overflow-y-auto pr-10 h-[100vh] 
  }

  .cards_wrapper{
    @apply flex flex-col gap-5  p-5 rounded-[10px]
  }

  .card_box{
    @apply flex gap-5 
  }

  .card{
    @apply w-[200px] lg:w-[300px]  relative  xl:w-[350px] xl:h-[150px] rounded-[10px]
     text-white p-5 hover:shadow-lg hover:shadow-[#000000] duration-200 cursor-pointer
  }

  .card h2{
    @apply text-[2rem] font-bold  lg:text-[2.5rem]
  }

  .card span{
    @apply text-sm xl:text-base
  }

  .card_box_1 .card{
    @apply bg-[#8E8E8E] 
  }

  .card_box_2 .card{
    @apply bg-[#404958] 
  }


  .settings_wrapper{
    @apply flex flex-col gap-5
  }

  .settings_box{
    @apply flex flex-col gap-3  border-b-2 border-blue-200 p-5
  }

  .settings_box span{
    @apply text-xl 
  }

  

  .popup_card h2{
    @apply text-xl
  }
 

 
 
}


.disabled{
  opacity:.4;
}

/* .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked{
  color: greenyellow !important;
} */


.profile_card{
  z-index:5000 !important;
}














/* .live{
  height:24px;
  width:24px;
  display:block;
  border-radius:50%;
  background-color:#ff69b4;
  animation:pulse 1500ms infinite;
}

@keyframes pulse{
  0%{
    box-shadow:#ff69b4 0 0 0 0;
  }
  75%{
    box-shadow:#ff69b400 0 0 0 16px;
  }
} */







.selected-vessel::before {
  content: "";
  margin-top:10px;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255); /* Adjust the color and opacity as needed */
  animation: pulse 1.5s infinite;
}


.vehicle-icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:5px;
}

.vehicle-icon p{
  background-color: rgb(40, 147, 155);
  color:#fff;
  width:100px;
  text-align: center;
  border-radius:5px;
}

.vehicle-icon img{
  height: 20px;
  width: 20px;
}

.incident-icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:5px;
}

.incident-icon p{
  background-color: rgb(214, 59, 59);
  color:#fff;
  width:100px;
  text-align: center;
  border-radius:5px;
}

.incident-icon img{
  height: 20px;
  width: 20px;
}

.personnel-icon{
  position: relative;
  display: flex;
}

.personnel-icon img{
  height: 23px;
  width: 23px;
}

.personnel-icon p{
  position: absolute;
  background: rgb(228, 228, 228);
  padding:1px 10px;
  border-radius:10px;
  margin-left:24px;
}

.office-icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:3px;
}



.office-icon img{
  height: 20px;
  width: 20px;
}

.office-icon p{
  display: flex;
  background-color:#5F6F52;
  top: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size:12px;
  width:170px;
  color:#fff;
  padding:3px;
  border-radius:4px;
}


/* 

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #282828;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

 */



.temperature{
  font-weight:800;
  padding:5px;
  border-radius:10px;
  font-size:12px;
  margin-top:-15px;

}

.marker-content{
  color:white;
  display:flex;
  align-items:center;
  flex-direction:column;
}

.marker-content p{
  height:0;
  font-size:12px;
  position:absolute;
}

.loaderContainer{
  @apply  flex items-center justify-center h-[90vh] 
}
/* 
.loader {
  position: relative;
  width: 150px;
  height: 150px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.55);
  border: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.loader::before {
  content: "";
  position: absolute;
  inset: 20px;
  background: transparent;
  border: 1px dashed #444;
  border-radius: 50%;
  box-shadow: inset -5px -5px 25px rgba(0, 0, 0, 0.25),
      inset 5px 5px 35px rgba(0, 0, 0, 0.25);
}

.loader::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px dashed #444;
  box-shadow: inset -5px -5px 25px rgba(0, 0, 0, 0.25),
      inset 5px 5px 35px rgba(0, 0, 0, 0.25);
}

.loader span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 100%;
  background: transparent;
  transform-origin: top left;
  animation: radar81 2s linear infinite;
  border-top: 1px dashed #e8a87c;
}

.loader span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a1b1b;
  transform-origin: top left;
  transform: rotate(-55deg);
  filter: blur(30px) drop-shadow(20px 20px 20px #1b1b1c);
}

@keyframes radar81 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
} */

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  gap: 0.625em;
  transform: translate(-50%, -50%);
}

.loader span {
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
}

.loader span::before {
  content: "";
  display: block;
  border-radius: inherit;
  height: inherit;
  width: inherit;
  background-color: inherit;
  animation: ripple 1.8s ease-out infinite;
  animation-delay: inherit;
  z-index: -1;
}

.loader span:nth-of-type(1) {
  background-color: #dfca63;
}

.loader span:nth-of-type(2) {
  background-color: #8ce86d;
  animation-delay: 0.2s;
}

.loader span:nth-of-type(3) {
  background-color: #5a99ec;
  animation-delay: 0.4s;
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }

  to {
    opacity: 0;
    transform: scale(3);
  }
}