@tailwind components;

@layer components{
    .tableContainer{
        @apply pr-20
    }

    .tableContainer .title{
        @apply text-xl font-semibold pb-3
    }
    .formWrapper{
        @apply flex flex-col gap-3 w-full  font-lato  relative overflow-hidden
    }
    
    .formTitle{
        @apply text-[1.5rem] bg-[#2D4263] text-[#eef5ff] text-center absolute
        w-full p-3 flex items-center gap-2
    }

    .formSelectTitle{
        @apply  bg-[#2D4263] text-[#eef5ff] text-center
         flex items-center gap-2 p-2 
    }

    .formInput{
        @apply p-2 outline-none
    }

    .formFooter{
        @apply w-full flex items-end justify-end p-3 sticky bottom-0 bg-white 
    }

    .formBox{
        @apply flex flex-col gap-3 w-full mt-20 overflow-y-auto
        p-10
    }

    .formBox .box1{
        @apply w-[500px] flex flex-col gap-5 
    }

    .formBox::-webkit-scrollbar {
        width:10px;
    }
    
    .formBox::-webkit-scrollbar-thumb {
        background-color: #2D4263 ;
    }
    
    .formBox::-webkit-scrollbar-thumb:hover {
        background-color:#2C74B3;
    }

    .inputWrapper{
        @apply flex flex-col gap-3 w-[500px]
    }

    .imageWrapper{
        @apply flex gap-5 flex-wrap
    }
    .imageBox{
        @apply  flex flex-col items-center border p-5 rounded-[10px] bg-white shadow-lg
         font-lato gap-3 relative
    }



    .imageBox img{
        @apply w-[300px] h-[200px] rounded-[10px]  object-contain
    }

    .imageBox input{
        @apply border  mt-10 p-2 rounded-sm border-[#2D4263] 
    }

    .imageTitle{
        @apply capitalize bg-[#2D4263] text-[#eef5ff]  p-2 rounded-sm  text-sm
        absolute top-0  w-full text-center
    }

    .selectedVesselWrapper{
        @apply flex   w-full items-start gap-4
    }

    .selectedDetailWrapper{
        @apply w-[100%] flex flex-col gap-3
    }

    .selectedDetailWrapper p{
        @apply border-b
    }

    .selectedImageWrapper{
        @apply flex gap-3 flex-wrap
    }

    .selectedImageBox{
        @apply border flex flex-col p-3 rounded-md 
    }

    .selectedImageBox img{
        @apply w-[200px] h-[200px] object-contain
    }


    .actionButton{
        @apply bg-[#205295] text-[#eef5ff] w-[30px] h-[30px] rounded-full
    }

    .actionBox{
        @apply bg-white  flex gap-3 p-2 items-center shadow border absolute -left-28
    }

    .personBoxWrapper{
        @apply flex gap-5
    }

    .personbox1{
        @apply  flex flex-col items-center justify-center h-[400px] w-[400px] 
    }

    .personbox1 img{
        @apply w-[200px] h-[200px] object-cover rounded-full shadow-md border-2 p-2
    }

    .personbox1 span {
        @apply text-center mt-5
    }

    .personbox1 span p {
        @apply text-[#8E8E8E]  text-sm border-b 
    }

    .personbox1 span h4{
        @apply font-bold text-lg capitalize
    }

    .personbox2{
        @apply w-[300px]
    }
}