@tailwind components;


@layer components{

    .personnelContainer{
        @apply font-manrope pr-10 pl-3 pb-10
    }

    .personnelContainer button{
        @apply hover:bg-[#404958] hover:text-white duration-150
    }

    .usersTableTopBox{
        @apply flex items-center justify-center gap-6 
        h-[50px] mb-3
    }

    .usersTableContainer{
        box-shadow:0 0 10px #00000035;
        @apply rounded-[15px] overflow-hidden 
    }


    .btnProfile{
        @apply border border-black rounded-md font-bold px-3 bg-white
    }
  

    .btnAdd{
        @apply bg-[#86705E] text-white flex items-center w-[200px]
        justify-center h-full rounded-md gap-2 text-base
         hover:bg-[#404958] duration-150
    }  
    
    .btnUpdate{
        @apply bg-[#0DB0E6] w-[30px] h-[30px] rounded-full text-white flex
        flex-col items-center justify-center text-[18px]
     }

     .btnDelete{
        @apply bg-[#EB5454] w-[30px] h-[30px] rounded-full text-white flex
        flex-col items-center justify-center text-[15px]
     }

    .searchBox{
        @apply flex w-full h-full items-center relative rounded-[10px]
        overflow-hidden border-[1px] border-gray-300
    }

    .searchBox input{
        @apply w-full h-full bg-transparent px-5 outline-none
    }

    .searchBox svg{ 
        @apply absolute right-3 text-[25px] text-gray-500
    }


    .deleteDialogBox{
        @apply flex flex-col items-center gap-5 p-10 font-manrope
        rounded-[20px]
    }

    .deleteDialogBox h3{
        @apply font-bold text-center text-lg
    }

    .deleteDialogBox p{
        @apply text-center text-sm font-medium
    }

    .deleteIcon{
        @apply text-[#EB5454] text-[30px] bg-[#eb54545b]
        p-4 rounded-full
    }

    .deleteDialogBtn{
        @apply flex flex-col w-full gap-3
    }

    .deleteDialogBtn button{
        @apply  w-full text-sm p-3 rounded-lg  hover:bg-[#404958] hover:text-white duration-150
    }

    .deleteDialogBtn .delete{
        @apply bg-[#EB5454] text-white 
    }

    .deleteDialogBtn .cancel{
        @apply border
    }


    
    .personnelProfileMainContainer{
        @apply font-manrope  pr-10
    }

    .personnelProfileHeader{
        @apply font-manrope pb-5 flex w-full items-center justify-end
    }

    .personnelProfileHeader button{
        @apply bg-[#86705E] text-white p-3 px-5
         rounded-lg flex items-center gap-3 hover:bg-[#404958]
         duration-150
    }

    .personnelProfileContainer{
        @apply font-manrope pb-10 flex gap-7 
    }


    .personnelProfileWrapper{
        @apply flex flex-col gap-7 w-[50%]  
    }

    .personnelProfileBox1{
        @apply border text-[#404958] p-5 rounded-xl 
        flex flex-col gap-5 w-full
    }

    .personnelProfileBox1 h1{
        @apply text-lg font-bold
    }

    .personnelProfileDetailBox1 {
        @apply flex items-center gap-10
    }

    .personnelProfileDetailBox1 img{
        @apply w-[200px] h-[200px] rounded-full object-cover
        border-2 p-2 border-[#404958]
    }

    .personnelProfileDetailBox1 span{
        @apply flex flex-col items-start
    }

    .personnelProfileDetailBox1 span h2{
        @apply font-bold text-[2rem]
    }

    .personnelProfileDetailBox1 span h4{
        @apply font-bold text-lg text-[#8E8E8E]
    }

    .personnelProfileDetailBox1 span p{
        @apply bg-green-200 text-center
        rounded-full text-green-700 p-2 mt-3
        text-sm px-5 font-bold
    }

    .personnelProfileBox2{
        @apply border text-[#404958] p-5 rounded-xl 
        flex flex-col gap-5   w-full
    }
    
    .personnelProfileBox2 h1{
        @apply text-lg font-bold   
    }

    .personnelProfileDetailBox2 {
        @apply flex items-center gap-10
        flex-col
    }

    .personnelProfileDetailBox2 span{
        @apply flex flex-col gap-1 w-full
        
    }

    .personnelProfileDetailBox2 span p{
        @apply font-normal text-base
    }
    
    .personnelProfileDetailBox2 span h4{
        @apply bg-[#F9F9F9] text-[#8E8E8E] 
        font-bold p-2 text-base rounded-lg
    }


    .personnelProfileWrapper2{
        @apply flex flex-col gap-7 w-[50%]
    }


    .personnelProfileBox3{
        @apply border text-[#404958] p-5 rounded-xl w-full
        flex flex-col gap-5 
    }

    .personnelProfileBox3 h1{
        @apply text-lg font-bold   
    }


    .personnelProfileMapBox{
        @apply w-full h-[500px] rounded-xl overflow-hidden
    }



    .personnelProfileBox4{
        @apply border text-[#404958] p-5 rounded-xl w-full
        flex flex-col gap-5 
    }

    .personnelProfileBox4 h1{
        @apply text-lg font-bold   
    }

    .spanheader{
        @apply flex  gap-5 bg-[#404958] text-white text-sm rounded-lg
    }

    .spanheader p{
        @apply w-[200px] p-3 
    }

    .boxLogDetails{
        @apply flex flex-col gap-5 h-[450px] overflow-y-auto pr-3 
    }

    .boxLogDetails::-webkit-scrollbar {
            width: 10px;
        height: 10px;
      }
    
    .boxLogDetails::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
    
    .boxLogDetails::-webkit-scrollbar-thumb {
        background: #404958;
        border-radius: 10px;
      }
    
    .boxLogDetails::-webkit-scrollbar-thumb:hover {
        background: #555;
      }

    .spanDetails{
        @apply flex gap-5 border  border-[#DCDCDC] rounded-lg items-center
    }

    .spanDetails p{
        @apply  py-5 w-[200px] p-3 
    }

    .statusLog{
        @apply bg-green-300 rounded-full text-center text-green-800 m-3
    }

    .userStatusBox{
        @apply flex items-center justify-center gap-3 p-3 rounded-full
    }

    .userStatusDot{
        @apply w-[10px] h-[10px] rounded-full
    }

    .personnelProfileStatusBox{
        @apply flex items-center justify-center gap-3 p-2 text-sm px-6 rounded-full mt-4
    }

    .statusDot{
        @apply w-[10px] h-[10px] rounded-full
    }

    .logStatusBox{
        @apply flex items-center justify-center gap-3 p-2 text-sm px-6 rounded-full  w-[200px]
    }

    .no-check-in-marker{
        @apply  bg-black 
    }


    .addFormContainer{
        @apply font-manrope
    }

    .addFormHeader{
        @apply flex justify-between text-lg font-bold p-5 border-b
    }

    .addFormHeader svg{
        @apply text-[25px] text-[#404958]
    }

    .addFormBoxDetails{
        @apply p-10
    }

    .addFormImageBox{
        @apply flex items-center gap-5
    }

    .addFormImageBox img{
        @apply w-[200px] h-[200px] rounded-full object-cover border-2 border-[#404958] p-2
    }

    .uploadImageBtn{
        @apply border p-4  px-8 rounded-[15px] border-[#8E8E8E] text-[#404958] font-bold
        text-sm hover:bg-[#404958] hover:text-white duration-150
    }

    .addFormBoxDetail1 {
        @apply mt-6 flex flex-col gap-4
    }

    .addFormBoxDetail1 p{
        @apply font-bold mt-4
    }

    .addFormBoxDetail2 p{
        @apply font-bold mt-10
    }

    .addFormBoxDetail2{
        @apply flex flex-col gap-5
    }

    .addFormFooter{
        @apply flex  gap-5 p-5
    }

    .addFormFooter button{
        @apply w-full rounded-lg p-4 text-sm  hover:bg-[#404958] hover:text-white duration-150
    }

    .addFormBtnCancel{
        @apply border-[#0DB0E6] border-2 text-[#404958]
    }

    .addFormBtnAdd{
        @apply bg-[#0DB0E6] text-white
    }
}

