@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}






@layer components {
  .login_container{
    background-image: url("./assets/loginBackground.jpg");
    background-size: cover;
    @apply   h-[100vh] flex items-center justify-center
  }

  .login_form_wrapper{
    @apply flex items-center flex-col pt-10 shadow-lg justify-center bg-white rounded-[20px] overflow-hidden
  }
  .login_form_wrapper  img{
    @apply w-[100px]
  }

  .login_form_wrapper form{
    @apply flex flex-col  w-[500px] p-10 gap-3
  }

  .login_form_wrapper  span{
    @apply flex  flex-col items-center
  }

  .login_form_wrapper  span h2{
    @apply text-xl uppercase font-semibold
  }

  .login_form_wrapper form button{
    @apply bg-gray-800 p-3 text-white rounded-lg
  }

  .main_container{
    @apply flex  md:flex-row bg-gray-100 h-[100vh] overflow-auto 
  }

  .content_container{
    @apply flex flex-col gap-5 h-[100vh] w-[100%] overflow-y-auto 
    }

  .navbar_container{
    @apply flex items-center h-[6vh] justify-between px-5 
  }

  .navbar_menu_wrapper{
    @apply flex gap-3
  }

  .breadcrumbs{
    @apply uppercase text-sm font-bold text-gray-800
  }

  .sidebar_container{
    @apply flex
  }

  .sidebar{
    @apply bg-gray-800 transition-all duration-500 text-white w-[200px] flex flex-col items-center z-[1000]  overflow-y-auto pb-20
  }

  .link_wrapper{
    @apply w-[80%] flex flex-col gap-[10px]
  }

  .link_wrapper span{
    @apply uppercase text-sm tracking-wider font-medium mt-5 mb-4
  }

  .link_wrapper2{
    @apply w-[80%] flex flex-col gap-[10px] border-t mt-5 pt-5
  }

  .link_wrapper3{
    @apply w-[80%] flex flex-col gap-[10px] border-t mt-10 pt-10
  }

  .icon{
    @apply text-lg
  }

  .logo_wrapper{
    @apply p-3  mt-5
  }

  .sidebar .logo{
    @apply flex items-center 
  }

  .bars{
    @apply  text-[25px]  mt-[10px] text-gray-800 hover:bg-gray-300 duration-300 rounded-md h-[40px] w-[40px] flex items-center justify-center
  }
  .sidebar .link{
    @apply flex items-center pl-4 text-white w-[100%] p-[10px] rounded-[10px] gap-[10px] transition-all duration-500
  }


  .active{
    background: #FFFFFF4D;
  }

  .map_container{
    @apply border h-[80vh] w-[95%] rounded-md overflow-hidden relative
  }

  .button_map_wrapper{
    @apply flex gap-2 pb-3 justify-between w-[95%]
  }

  .button_toggle_drawer{
    @apply rounded text-white  bg-[#29ADB2] p-2 px-3 hover:bg-slate-800 hover:text-[#29ADB2] duration-300
  }
 
  .button_change_map{
    @apply rounded text-white  bg-[#29ADB2] p-2 hover:bg-slate-800 hover:text-[#29ADB2] duration-300
  }


  .dashboard_container{
    @apply flex flex-col  overflow-y-auto pr-10 h-[100vh] 
  }

  .cards_wrapper{
    @apply flex flex-col gap-5 shadow-md  p-5 rounded-[10px]
  }

  .card_box{
    @apply flex gap-5 
  }

  .card{
    @apply w-[200px]  xl:w-[360px] xl:h-[200px] rounded-[10px] text-white p-5
  }

  .card h2{
    @apply text-[2rem] xl:text-[3.5rem] font-bold
  }

  .card_box_1 .card{
    @apply bg-[#8E8E8E] 
  }

  .card_box_2 .card{
    @apply bg-[#404958] 
  }

  .chart_container{
    @apply mt-5
  }

  .chart_title{
    @apply font-bold text-lg text-gray-800 py-3
  }

  .chart_wrapper{
    @apply flex gap-5 flex-wrap xl:flex-nowrap
  }

  .chart_box{
    @apply  bg-white w-[100%] xl:w-[50%] h-[450px] overflow-hidden flex items-center justify-center rounded-[10px] shadow-md
  }

  .settings_wrapper{
    @apply flex flex-col gap-5
  }

  .settings_box{
    @apply flex flex-col gap-3  border-b-2 border-blue-200 p-5
  }

  .settings_box span{
    @apply text-xl 
  }

  .doughnut_chart_box{
    @apply flex flex-col h-full w-full justify-between  items-center p-5 relative 
  }

  .bar_chart_box{
    @apply flex flex-col h-full  w-full justify-center p-5 relative items-center
  }

  .list_container{
    @apply py-10
  }

  .list_container h2{
    @apply text-xl font-bold text-gray-800 py-3
  }

  .list_card_wrapper{
    @apply flex gap-5 flex-wrap w-full p-5
  }

  .list_card{
    @apply w-[360px] shadow-xl bg-white flex flex-col items-center p-5 rounded-[10px] gap-3
  }

  .list_card .title{
    @apply text-[#86705E] font-bold text-lg
  }

  .list_card p{
    @apply font-bold text-gray-700
  }

  .list_box{
    @apply w-full border bg-neutral-300 p-2 text-center rounded-[10px]
  }

  .list_box span{
    @apply text-sm font-semibold
  }

  .popup_card h2{
    @apply text-xl
  }
 
  .account_container{
    @apply flex flex-col gap-5  p-5 
  }

  .account_container h1{
    @apply text-xl font-bold text-gray-800
  }

  .account_wrapper{
    @apply bg-white p-5 rounded-[10px] shadow-lg
  }

  .account_box {
    @apply flex flex-col gap-5
  }

  .account_input_box{
    @apply flex flex-col 
  }

  .account_input_box input{
    @apply p-3 text-lg rounded-[10px] bg-slate-100 outline-none
  }

  .account_input_box span{
    @apply text-lg font-semibold text-gray-700
  }

 
 
}

.disabled{
  opacity:.4;
}


.MuiDrawer-paper{
  background: #29ADB2 !important;
  border-radius:5px;
  border:0 !important;
  box-shadow: -10px 10px 10px #00000031 !important;
  height:450px !important; 
  margin-top:150px;
  padding:10px !important;
  margin-right:80px ;
}


.MuiListItem-root{
  background-color: #f9f9f949; 
  margin-top:10px;
  
}

.marine-marker {
  font-size:20px;
  width:25px !important;
  border-radius:50%;
  height:25px !important;
  color: rgb(251, 255, 23);
  background-color: rgba(242, 227, 16, 0.187); /* Set the color of the glow effect */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.traksat-marker {
  font-size:20px;
  width:25px !important;
  border-radius:50%;
  height:25px !important;
  color: rgb(23, 131, 255);
  background-color: #e6effe;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spiderTrak-container{
  display: flex;
  flex-direction:row-reverse;
}

.spiderTrak-icon img{
  width:35px;
  height:35px;
}

.spiderTrak-text{
  background-color: rgb(155, 225, 51);
  width:65px;
  padding:1px;
  display: flex;
  font-size:10px;
  align-items: center;
  justify-content: center;
  border-radius:10px;
  position: absolute;
  font-weight:600;
  left:0;
  margin-left:13px;
  margin-top:7px;
}



.selected-marker{
  border:2px solid white;
}

.selected-marker-traksat{
  border:2px solid rgb(38, 214, 214);
}

.circle-marker{
  background-color: rgb(7, 230, 29);
  width:15px;
  height:15px;
  border-radius:50%;
  border: 1px solid #000;
}

.selected-vessel::before {
  content: "";
  margin-top:10px;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255); /* Adjust the color and opacity as needed */
  animation: pulse 1.5s infinite;
}


.marineTraffic-cluster-icon {
  background-color: yellow;
  height: 40px;
  width: 40px;
  color: #000000;
  font-weight:600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
  box-shadow: 0 0 0px 5px rgba(255, 255, 0, 0.474);
}


.trakSat-cluster-icon {
  background-color: rgb(8, 247, 8);
  height: 40px;
  width: 40px;
  color: #000000;
  font-weight:600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
  box-shadow: 0 0 0px 5px rgba(1, 255, 1, 0.547);
}


.personnel-cluster-icon {
  background-color: rgb(8, 235, 247);
  height: 40px;
  width: 40px;
  color: #000000;
  font-weight:600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
  box-shadow: 0 0 0px 5px rgba(1, 217, 255, 0.547);
}

.videoStream-cluster-icon {
  background-color: rgb(250, 250, 250);
  height: 40px;
  width: 40px;
  color: #000000;
  font-weight:600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
  box-shadow: 0 0 0px 5px rgba(255, 255, 255, 0.547);
}


.spiderTrak-cluster-icon {
  background-color: rgb(0, 140, 255);
  height: 40px;
  width: 40px;
  color: #000000;
  font-weight:600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
  box-shadow: 0 0 0px 5px rgba(0, 140, 255, 0.519);
}

.personnel-icon img{
  height: 30px;
  width: 30px;
}

.personnel-icon p{
  display: flex;
  background-color:#fff;
  top: 0;
  text-align: center;
  width:100px; 
  align-items: center;
  justify-content: center;
  font-size:12px;
}

.office-icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:3px;
}



.office-icon img{
  height: 30px;
  width: 30px;
}

.office-icon p{
  display: flex;
  background-color:#5F6F52;
  top: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size:12px;
  width:170px;
  color:#fff;
  padding:3px;
  border-radius:4px;
}

.personnel-icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:3px;
}



.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #282828;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}





.temperature{
  font-weight:800;
  padding:5px;
  border-radius:10px;
  font-size:12px;
  margin-top:-15px;

}

.marker-content{
  color:white;
  display:flex;
  align-items:center;
  flex-direction:column;
}

.marker-content p{
  height:0;
  font-size:12px;
  position:absolute;
}