@tailwind components;


@layer components{

    .usersContainer{
        @apply font-manrope pr-10 pl-3 pb-10
    }

    .usersContainer button{
        @apply hover:bg-[#404958] hover:text-white duration-150
    }

    .usersTableTopBox{
        @apply flex items-center justify-center gap-6 
        h-[50px] mb-3
    }

    .usersTableContainer{
        box-shadow:0 0 10px #00000035;
        @apply rounded-[15px] overflow-hidden 
    }


    .btnProfile{
        @apply border border-black rounded-md font-bold px-3 bg-white
    }
  

    .btnAdd{
        @apply bg-[#86705E] text-white flex items-center w-[200px]
        justify-center h-full rounded-md gap-2 text-base
         hover:bg-[#404958] duration-150
    }  
    
    .btnUpdate{
        @apply bg-[#0DB0E6] w-[30px] h-[30px] rounded-full text-white flex
        flex-col items-center justify-center text-[18px]
     }

     .btnDelete{
        @apply bg-[#EB5454] w-[30px] h-[30px] rounded-full text-white flex
        flex-col items-center justify-center text-[15px]
     }

    .searchBox{
        @apply flex w-full h-full items-center relative rounded-[10px]
        overflow-hidden border-[1px] border-gray-300
    }

    .searchBox input{
        @apply w-full h-full bg-transparent px-5 outline-none
    }

    .searchBox svg{ 
        @apply absolute right-3 text-[25px] text-gray-500
    }


    /*====== USER PROFILE STYLE =============*/
    .usersProfileContainer{
        @apply flex flex-col pr-10 font-manrope
    }

    .usersProfileTop{
        @apply flex justify-between pb-3
    }

    .usersProfileTop button{
            @apply bg-[#86705E] text-white flex p-3 rounded-[10px] items-center gap-2
            text-sm hover:bg-[#404958] duration-150 w-[150px] justify-center
    }

    .usersProfileBox1{
        box-shadow: 0 0 10px #00000012;
        @apply bg-[#F9F9F9]  rounded-[15px] h-[400px] p-3 flex flex-col justify-between
    }

    .usersProfileTitle{
        @apply text-lg font-bold p-2
    }

    .usersProfilePhoto{
        @apply w-[250px] h-[250px] rounded-full object-cover
        border-2 border-[#404958] p-2
    }

    .usersProfileInitial{
        @apply flex items-center gap-16 pb-10 px-3
    }

    .textBox .text1{
        @apply text-[#8E8E8E] text-[18px]
    }

    .textBox .text2{
        @apply text-[#404958] font-bold text-[3rem] capitalize
    }

    .textBox .text3{
        @apply text-[#404958] font-bold text-[1.5rem] capitalize tracking-wide
    }


    .usersProfileBox2{
        @apply  mt-5  w-full
    }

    .usersProfileBox2 .title{
        @apply font-bold text-lg 
    }

    .usersTableDetail{
        @apply flex rounded-[15px] overflow-hidden w-full border mt-5
    }

    .usersTableDetail .span1{
        @apply font-bold flex flex-col bg-[#EAEAEC] w-[300px] items-start  pl-3
    }

   
    .usersTableDetail .span2{
        @apply flex flex-col bg-[#F7F7F8] w-full items-start 
    }

    .usersTableDetail span p{
        @apply p-5 text-base
    }

    .usersTableDetail .span2 p{
        @apply border w-full
    }

    .deleteDialogBox{
        @apply flex flex-col items-center gap-5 p-10 font-manrope
        rounded-[20px]
    }

    .deleteDialogBox h3{
        @apply font-bold text-center text-lg
    }

    .deleteDialogBox p{
        @apply text-center text-sm font-medium
    }

    .deleteIcon{
        @apply text-[#EB5454] text-[30px] bg-[#eb54545b]
        p-4 rounded-full
    }

    .deleteDialogBtn{
        @apply flex flex-col w-full gap-3
    }

    .deleteDialogBtn button{
        @apply  w-full text-sm p-3 rounded-lg  hover:bg-[#404958] hover:text-white duration-150
    }

    .deleteDialogBtn .delete{
        @apply bg-[#EB5454] text-white 
    }

    .deleteDialogBtn .cancel{
        @apply border
    }
}

