@tailwind components;

@layer components{
    .tableContainer{
        @apply pr-20
    }

    .tableContainer .title{
        @apply text-xl font-semibold pb-3
    }
    .formWrapper{
        @apply flex flex-col gap-3 w-full  font-lato  relative overflow-hidden
    }
    
    .formTitle{
        @apply text-[1.5rem] bg-[#2D4263] text-[#eef5ff] text-center absolute
        w-full p-3 flex items-center gap-2
    }

    .formSelectTitle{
        @apply  bg-[#2D4263] text-[#eef5ff] text-center
         flex items-center gap-2 p-2 
    }

    .formInput{
        @apply p-2 outline-none
    }

    .formFooter{
        @apply w-full flex items-end justify-end p-3
    }

    .formBox{
        @apply flex flex-col gap-3 w-full mt-20 overflow-y-auto
        p-10
    }

    .formBox .box1{
        @apply w-[500px] flex flex-col gap-5 
    }

    .formBox::-webkit-scrollbar {
        width:10px;
    }
    
    .formBox::-webkit-scrollbar-thumb {
        background-color: #2D4263 ;
    }
    
    .formBox::-webkit-scrollbar-thumb:hover {
        background-color:#2C74B3;
    }

    .inputWrapper{
        @apply flex flex-col gap-3 w-[500px]
    }

    .imageWrapper{
        @apply flex gap-5 flex-wrap
    }
    .imageBox{
        @apply  flex flex-col items-center border p-5 rounded-[10px] bg-white shadow-lg
         font-lato gap-3 relative
    }



    .imageBox img{
        @apply w-[300px] h-[200px] rounded-[10px]  object-contain
    }

    .imageBox input{
        @apply border  mt-10 p-2 rounded-sm border-[#2D4263] 
    }

    .imageTitle{
        @apply capitalize bg-[#2D4263] text-[#eef5ff]  p-2 rounded-sm  text-sm
        absolute top-0  w-full text-center
    }

    .selectedVesselWrapper{
        @apply flex flex-col  items-start gap-4 font-manrope p-5 -mt-12

    }

    .selectedDetailWrapper{
        @apply w-[50%] flex flex-col gap-3
    }

    .selectedDetailWrapper p{
        @apply border-b
    }

    .selectedImageWrapper{
        @apply flex gap-3 flex-wrap
    }

    .selectedImageBox{
        @apply border flex flex-col p-3 rounded-md 
    }

    .selectedImageBox img{
        @apply w-[200px] h-[200px] object-cover
    }


    .actionButton{
        @apply bg-[#205295] text-[#eef5ff] w-[30px] h-[30px] rounded-full
    }

    .actionBox{
        @apply  bg-white  flex flex-col  gap-3 p-2 items-center shadow border absolute
    }

    .selectedVesselBox1{
        @apply flex  bg-[#F9F9F9] items-center p-10 rounded-md shadow-md
    }

    .selectedBoxDetails{
        @apply flex flex-wrap w-[90%]  h-full items-center px-10 gap-5
    }

    .selectedBoxDetails span{
        @apply w-[250px] 
    }

    .selectedBoxDetails span p{
        @apply text-[#8E8E8E] text-sm
    }

    .selectedBoxDetails span h3{
        @apply text-[#404958] text-lg font-semibold
    }

    .vesselMainImage{
        @apply w-[250px] h-[250px] border-2 border-[#404958] rounded-full object-cover p-2
    }

    .selectedBox1{
        @apply flex  gap-4  w-[500px] items-center justify-center
    }

    .selectedVesselTitle{
        @apply text-black text-lg font-bold
    }

    .imagesVesselBox{
        @apply flex-wrap flex w-[600px] gap-5 bg-[#F9F9F9] items-center
        justify-center p-4 rounded-md shadow-md
    } 

    .imgBox{
        @apply w-[270px] h-[160px] object-cover relative flex items-end
         justify-center border rounded-md overflow-hidden
    }
    .imgBox h2{
        @apply absolute text-white border w-[90%] text-center 
        p-1 mb-2 bg-[#0b0b0ba2] rounded-md text-sm 
    }

    .selectedVesselBox3{
        @apply w-full h-full
    }

    .selectedVesselBox3 .mapBox{
        @apply bg-[#F9F9F9] w-full  rounded-md  h-[370px] overflow-hidden
    } 

}